<% include ../partials/header %>
  <div class="ui container space">
    <% if(error && error.length > 0){ %>
      <div class="ui error message">
        <%= error %>
      </div>
      <% } %>
        <% if(success && success.length > 0){ %>
          <div class="ui success message">
            <%= success %>
          </div>
          <% } %>
            <div class="ui padded segment">
              <h1 class="ui center aligned header">Edit <%= alarm.name %></h1>
              <form class="ui form" action="/houses/<%= house._id %>/alarms/<%= alarm._id %>?_method=PUT" method="POST">
                <div class="field">
                  <label>Name</label>
                  <input type="text" name="alarm[name]" value="<%= alarm.name %>">
                </div>
                <div class="two fields">
                  <div class="field">
                    <label>Minute</label>
                    <input type="number" name="alarm[minute]" placeholder="minute" min="0" max="59" required value="<%= alarm.minute %>">
                  </div>
                  <div class="field">
                    <label>Hour</label>
                    <input type="number" name="alarm[hour]" placeholder="hour" min="0" max="24" required value="<%= alarm.hour %>">
                  </div>
                </div>
                <div class="inline field">
                  <div class="ui toggle checkbox">
                    <input type="checkbox" name="active" value="<%= alarm.active %>" <%= alarm.active ? "checked" : "" %>>
                    <label>Active</label>
                  </div>
                </div>
                <p>Days of the week:</p>
                <% days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
                    <% days.forEach(function(day, i, arr) {%>
                      <div class="inline field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="alarm[dow]" value="<%= i %>" <%= alarm.dow.includes(i.toString()) ? "checked" : "" %> >
                          <label><%= day %></label>
                        </div>
                      </div>
                      <% }) %>
                        <p>Hosts:</p>
                        <% house.hosts.forEach(function(host) { %>
                          <div class="inline field">
                            <div class="ui toggle checkbox">
                              <input type="checkbox" name="alarm[hosts]" value="<%= host.id %>" <%= selectedHosts.includes(host.id) ? "checked" : "" %> >
                              <label><%= host.name %></label>
                            </div>
                          </div>
                          <% }) %>
                            <button class="ui submit button" type="submit">Submit</button>
              </form>
            </div>
  </div>
  <script>
    $('.ui.checkbox')
      .checkbox();
  </script>
  <% include ../partials/footer %>
