<% include ../partials/header %>
  <div class="ui container space">
<% include ../partials/flash %>
            <div class="ui padded segment">
              <h1 class="ui center aligned header">New Alarm in <%= house.name %></h1>
              <form class="ui form" action="/houses/<%= house._id %>/alarms" method="POST"  enctype="multipart/form-data">
                <div class="field">
                  <label>Name</label>
                  <input type="text" name="alarm[name]" placeholder="name" autocomplete="off" required>
                </div>
                <div class="two fields">
                  <div class="field">
                    <label>Hour</label>
                    <input type="number" name="alarm[hour]" placeholder="hour" min="0" max="24" autocomplete="off" required>
                  </div>
                  <div class="field">
                    <label>Minute</label>
                    <input type="number" name="alarm[minute]" placeholder="minute" min="0" max="59" autocomplete="off" required>
                  </div>
                </div>
                <div class="field">
                  <label>Upload a Sound</label>
                  <input type="file" id="sound" name="sound" accept="audio/*" autocomplete="off" required>
                </div>
                <p>Days of the week:</p>
                <% days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
                  <% nDays = [0,1,2,3,4,5,6,] %>
                    <% nDays.forEach(function(i) {%>
                      <div class="inline field">
                        <div class="ui toggle checkbox">
                          <input type="checkbox" name="alarm[dow]" value="<%= i %>" tabindex="0">
                          <label><%= days[i] %></label>
                        </div>
                      </div>
                      <% }) %>
                        <p>Hosts:</p>
                        <% house.hosts.forEach(function(host) {%>
                          <div class="inline field">
                            <div class="ui toggle checkbox">
                              <input type="checkbox" name="alarm[hosts]" value="<%= host.id %>" tabindex="0">
                              <label><%= host.name %></label>
                            </div>
                          </div>
                          <% }) %>
                            <button class="ui submit button" type="submit">Submit</button>
              </form>
            </div>
  </div>
  <script>
    $('.ui.checkbox')
      .checkbox();
  </script>
  <% include ../partials/footer %>
