<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #131923;
    text-align: left;
    padding: 3px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<h1><%= house.name %></h1>
<a href="/houses/<%= house._id %>/edit">Edit House</a>
<form action="/houses/<%= house._id %>?_method=DELETE" method="post">
  <button>Delete House</button>
</form>
<br>
<a href="/houses/<%= house._id %>/hosts/new">New Host</a>
<a href="/houses/<%= house._id %>/alarms/new">New Alarm</a>

<h2>Hosts: </h2>
<table>
  <tr>
    <th>Name</th>
    <th>Hostname</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% house.hosts.forEach(function(host) {%>
    <tr>
      <td>
        <%= host.name %>
      </td>
      <td>
        <%= host.hostname %>
      </td>
      <td><a href="/houses/<%= house._id %>/hosts/<%= host._id %>/edit">Edit</a></td>
      <td>
        <form action="/houses/<%= house._id %>/hosts/<%= host._id %>?_method=DELETE" method="post">
        <button>Delete</button>
      </form>
    </tr>
    <% }) %>
</table>

<h2>Alarms: </h2>
<table>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Days</th>
    <th>Hosts</th>
    <th>Active</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% house.alarms.forEach(function(alarm) {%>
    <tr>
      <td>
        <%= alarm.name %>
      </td>
      <td>
        <%= alarm.hour %>:
          <%= alarm.minute %>
      </td>
      <td>
        <%= alarm.dow %>
      </td>
      <td>
        <% house.hosts.forEach(function(host, i, arr){ %>
          <%= host.name %>
            <%= ( arr.length > 0 && i < arr.length-1 ? ( i == arr.length-2 ? ', ' : ', ' ) : '' ) %>
              <% }) %>
      </td>
      <td>
        <% if (alarm.active === true) { %>
          Yes
          <% } else { %>
            No
            <% }%>
      </td>
      <td><a href="/houses/<%= house._id %>/alarms/<%= alarm._id %>/edit">Edit</a></td>
      <td>
        <form action="/houses/<%= house._id %>/alarms/<%= alarm._id %>?_method=DELETE" method="post">
          <button>Delete</button>
        </form>
      </td>
    </tr>
    <% }) %>
</table>
