<% include ../partials/header %>
  <div class="ui container space">
    <% include ../partials/flash %>
      <h1 class="ui left aligned header">
        <%= house.name %>
      </h1>
      <% if(currentUser && currentUser.isAdmin){ %>
        <a class="ui yellow button" href="/houses/<%= house._id %>/edit">Edit House</a>
        <form class="delete" action="/houses/<%= house._id %>?_method=DELETE" method="post">
          <button class="ui negative button">Delete House</button>
        </form>
        <% } %>
          <div class="positive ui buttons">
            <% if(currentUser && currentUser.isAdmin){ %>
              <a class="ui button" href="/houses/<%= house._id %>/hosts/new">New Host</a>
              <% } %>
                <a class="ui button" href="/houses/<%= house._id %>/alarms/new">New Alarm</a>
          </div>
          <div class="ui hidden divider"></div>
          <h2>Hosts</h2>
          <div class="ui three stackable cards">
            <% house.hosts.forEach(function(host) {%>
              <div class="ui fluid card">
                <div class="content">
                  <div class="header">
                    <%= host.name %>
                  </div>
                  <div class="meta">
                    <%= host.hostname %>
                  </div>
                  <% if(currentUser && currentUser.isAdmin){ %>
                    <a class="ui yellow button" href="/houses/<%= house._id %>/hosts/<%= host._id %>/edit">Edit</a>
                    <form class="delete" action="/houses/<%= house._id %>/hosts/<%= host._id %>?_method=DELETE" method="post">
                      <button class="ui red button">Delete</button>
                    </form>
                    <% }%>
                </div>
              </div>
              <% }) %>
          </div>
          <div class="ui hidden divider"></div>
          <h2>Alarms</h2>
          <div class="ui three stackable cards">
            <% house.alarms.forEach(function(alarm) {%>
              <div class="ui fluid card">
                <div class="content">
                  <div class="header">
                    <%= alarm.name %>
                  </div>
                  <div>
                    <%= alarm.hour %>:
                      <%= alarm.minute %>
                  </div>
                  <div>
                    <% days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
                        <% alarm.dow.forEach(function(day,i, arr) {%>
                          <%= days[day] %>
                            <%= ( arr.length > 0 && i < arr.length-1 ? ( i == arr.length-2 ? ', ' : ', ' ) : '' ) %>
                              <% }) %>
                  </div>
                  <div>
                    <% if (alarm.hosts) {%>
                      <% alarm.hosts.forEach(function(host, i, arr){ %>
                        <%= host.name %>
                          <%= ( arr.length > 0 && i < arr.length-1 ? ( i == arr.length-2 ? ', ' : ', ' ) : '' ) %>
                            <% }) %>
                              <% } %>
                  </div>
                  <div>
                    <%= alarm.file.name %>
                      <br />
                      <audio controls>
                        <source src="<%= alarm.file.url %>" type="audio/mpeg"> Your browser does not support the audio tag.
                      </audio>
                  </div>
                  <div>
                    <a class="ui yellow button" href="/houses/<%= house._id %>/alarms/<%= alarm._id %>/edit">Edit</a>
                    <form class="delete" action="/houses/<%= house._id %>/alarms/<%= alarm._id %>?_method=DELETE" method="post">
                      <button class="ui red button">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
  </div>
  <div class="ui hidden divider"></div>
  <% include ../partials/footer %>